# dependencies
node_modules/

# production build output
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env
.env.*
!.env.example

# editor and OS files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# markdown files
*.md
